# Resend API Key — obtén la tuya en https://resend.com
RESEND_API_KEY=re_JLTAMDFW_Jo6nssC8GANxjBNN1zQuciwZ

# Dirección de correo desde la que se enviarán los mensajes
# Debe ser un dominio verificado en Resend (o usar onboarding@resend.dev para pruebas)
EMAIL_FROM=WeByHudson <noreply@tudominio.com>

# Dirección de correo donde recibirás los mensajes del formulario
EMAIL_TO=ehudsonaguirre@gmail.com