@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-primary: #092721;
  --color-secondary: #F8C44F;
  --color-green: #36654F;
  --color-gary: #9B9B9B;

}
@import "tailwindcss";

@layer components {
  .primary-btn {
    @apply bg-primary text-white cursor-pointer 
     hover:bg-green transition-all duration-300
    py-2 px-4 rounded-lg shadow-lg my-3 mx-2;
  }
}

body{
      font-family: "Roboto Flex", sans-serif;
      background-color: rgb(255, 255, 255);
  
}
