@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-primary: #0D1117;
  --color-secondary: #2EA043;
  --color-green: #E6EDF3;
  --color-four: #3FB950;
  --color-five: #161B22;
  --color-six: #818181;

}
@import "tailwindcss";

@layer components {
  .primary-btn {
    @apply border border-secondary text-green cursor-pointer 
      hover:bg-four/20 transition-all duration-300
    py-2 px-4 rounded-lg shadow-lg my-3 mx-2;
  }
}

body{
       font-family: "Plus Jakarta Sans", sans-serif;
      background-color:rgba(22, 27, 34, 0.99);
  
}
